@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Maven+Pro:wght@500&family=Merriweather+Sans:ital,wght@0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #313f4f;
    outline: 1px solid slategrey;
    border-radius: 0px;
}

#root {
    background-color: #eef2e0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Alert and Preloader */

.loading {
    display: block !important;
}
.success {
    color: #20a020;
}
.danger {
    color: #a02020;
}
.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}
.alert-info {
    color: #323232;
    background-color: #6184c469;
}
.alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
}
.alert-success {
    color: #20a020;
    background-color: #eeffe0;
}

/* Table */
.table {
    width: 100%;
    /* padding: 10; */
    border-collapse: collapse;
}
/* 
.table tbody td {
    border: 1px solid red;
    padding: 5px 0px 5px 5px;
    background-color: white;
} */

/* .table tbody tr:nth-of-type(odd) {
    background-color: #edeef4;
}
.table tbody tr:nth-of-type(even) {
    background-color: white;
} */

.table tbody tr {
    /* border-top: 10px solid red; */
    border-bottom: 3px solid #313f4f;
}

.table td,
.table th {
    text-align: left;
    /* border: 0.1rem solid #e4e4e4; */
    /* padding: 0.5rem; */
}

.masonary {
    overflow: hidden;
}

.item {
    position: absolute;
    width: 100px;
    background: #edeef4;
    /* text-align: center; */
}

.item:nth-child(6n + 1) {
    height: 250px;
}

.item:nth-child(6n + 2) {
    height: 300px;
}

.item:nth-child(6n + 3) {
    height: 170px;
}

.item:nth-child(6n + 4) {
    height: 250px;
}

.item:nth-child(6n + 5) {
    height: 220px;
}

.item:nth-child(6n + 6) {
    height: 170px;
}

@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 15px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        margin-bottom: 5px;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: 'name';
    }
    td:nth-of-type(2):before {
        content: 'price';
    }
    td:nth-of-type(3):before {
        content: 'Market Cap';
    }
    td:nth-of-type(4):before {
        content: 'Total Volumn';
    }
    td:nth-of-type(5):before {
        content: 'Available Supply';
    }
    td:nth-of-type(6):before {
        content: 'Symbol';
    }
    /* td:nth-of-type(7):before {
        content: 'Date of Birth';
    }
    td:nth-of-type(8):before {
        content: 'Dream Vacation City';
    }
    td:nth-of-type(9):before {
        content: 'GPA';
    }
    td:nth-of-type(10):before {
        content: 'Arbitrary Data';
    } */
}
